In [6]:
import pandas as pd
import sys
sys.path.append("../scripts")
#from utils import Clean 
from LoadData import LoadData

In [8]:
#initialize utilities
loader = LoadData()

In [9]:
#laod the original dataset
loader = LoadData()
df = loader.read_csv('../data/AdSmartABdata.csv')
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

We already have a raw dataset as version 1 of the data We are going to create version 2 of the data by cleaning the raw dataset. First, we delete the raw dataset from the data folder

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8077 entries, 0 to 8076
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   auction_id   8077 non-null   object
 1   experiment   8077 non-null   object
 2   date         8077 non-null   object
 3   hour         8077 non-null   int64
 4   device_make  8077 non-null   object
 5   platform_os  8077 non-null   int64
 6   browser      8077 non-null   object
 7   yes          8077 non-null   int64
 8   no           8077 non-null   int64
dtypes: int64(4), object(5)
memory usage: 568.0+ KB

<b> Groupby browser

In [12]:
df.groupby('browser').count()

,auction_id,experiment,date,hour,device_make,platform_os,yes,no
browser,,,,,,,,
Android,1,1,1,1,1,1,1,1
Chrome,3,3,3,3,3,3,3,3
Chrome Mobile,4554,4554,4554,4554,4554,4554,4554,4554
Chrome Mobile WebView,1489,1489,1489,1489,1489,1489,1489,1489
Chrome Mobile iOS,51,51,51,51,51,51,51,51
Edge Mobile,1,1,1,1,1,1,1,1
Facebook,764,764,764,764,764,764,764,764
Firefox Mobile,1,1,1,1,1,1,1,1
Mobile Safari,337,337,337,337,337,337,337,337
Mobile Safari UI/WKWebView,44,44,44,44,44,44,44,44
Opera Mini,1,1,1,1,1,1,1,1
Opera Mobile,3,3,3,3,3,3,3,3
Pinterest,3,3,3,3,3,3,3,3
Puffin,1,1,1,1,1,1,1,1
Samsung Internet,824,824,824,824,824,824,824,824

In [13]:
#Group by browser and store them on in a dictionary
by_browser = df.groupby('browser')
browsers = by_browser['experiment'].count() > 100
browsers = browsers[browsers==True].index
browser_dfs = {}
for browser in browsers:
    b_df = df.query(f"browser=='{browser}'").reset_index(drop=True)
    browser_dfs[browser] = b_df

In [14]:
browser_dfs.keys()

dict_keys(['Chrome Mobile', 'Chrome Mobile WebView', 'Facebook', 'Mobile Safari', 'Samsung Internet'])

In [15]:
#create version 2 of the data for chrome mobile
b_df=browser_dfs.get('Chrome Mobile')
b_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0
3,002e308b-1a07-49d6-8560-0fbcdcd71e4b,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0
4,004c4cc9-f2ca-4df7-adc9-3d0c3c4f0342,control,2020-07-05,14,Generic Smartphone,6,Chrome Mobile,0,0

In [16]:
b_df.to_csv('../data/AdSmartABdata.csv')

In [17]:
#create version 3 of the data for Chrome Mobile WebView
b_df=browser_dfs.get('Chrome Mobile WebView')
b_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
1,004940f5-c642-417a-8fd2-c8e5d989f358,exposed,2020-07-04,0,Generic Smartphone,6,Chrome Mobile WebView,0,0
2,0051dd9b-03b6-4579-b09a-0107b2a3a13e,control,2020-07-09,6,Samsung SM-G935F,6,Chrome Mobile WebView,0,0
3,006b9c6e-5f5d-4385-a811-ff20a24b30ac,exposed,2020-07-06,8,Samsung SM-G973F,6,Chrome Mobile WebView,0,0
4,0073f9a6-0856-44b4-870d-8e525878ad29,exposed,2020-07-04,15,Samsung SM-G960F,6,Chrome Mobile WebView,0,0

In [18]:
b_df.to_csv('../data/AdSmartABdata.csv')

In [19]:
#create version 4 of the data for Facebook
b_df=browser_dfs.get('Facebook')
b_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
1,0027ce48-d3c6-4935-bb12-dfb5d5627857,control,2020-07-03,15,Samsung SM-G960F,6,Facebook,0,0
2,00393fb9-ca32-40c0-bfcb-1bd83f319820,control,2020-07-09,5,Samsung SM-G973F,6,Facebook,0,0
3,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,Facebook,1,0
4,01079dde-1496-486b-982f-dfb4d7fd5678,exposed,2020-07-06,10,Generic Smartphone,6,Facebook,0,0

In [20]:
b_df.to_csv('../data/AdSmartABdata.csv')

In [21]:
#create version 5 of the data for Samsung Internet
b_df=browser_dfs.get('Samsung Internet')
b_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,01515cfe-7660-410c-80d7-a5e769f75925,control,2020-07-03,15,Samsung SM-A715F,6,Samsung Internet,0,0
1,023be799-fee7-4ad7-b147-031c31ca6f2c,control,2020-07-07,9,Samsung SM-G930F,6,Samsung Internet,0,0
2,0257755a-dd92-4a81-91d3-ef6b2cd5bb5a,exposed,2020-07-08,21,Samsung SM-N950F,6,Samsung Internet,0,0
3,02ee7e7e-1e75-4746-88d2-70bf9ba3a17d,exposed,2020-07-06,9,Samsung SM-G981B,6,Samsung Internet,0,0
4,0336ce2b-c5cb-454a-b74f-450232223742,control,2020-07-03,15,Samsung SM-A105FN,6,Samsung Internet,0,1

In [22]:

b_df.to_csv('../data/AdSmartABdata.csv')

<b>Groupby platform OS

In [24]:
df.groupby('platform_os').count()

,auction_id,experiment,date,hour,device_make,browser,yes,no
platform_os,,,,,,,,
5,428,428,428,428,428,428,428,428
6,7648,7648,7648,7648,7648,7648,7648,7648
7,1,1,1,1,1,1,1,1

In [25]:
#Group by platform_os and store them on in a dictionary
by_platform = df.groupby('platform_os')

In [26]:
#create version 6 of the data for platform_os 6
p_df = by_platform.get_group(6).reset_index(drop=True)
p_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [27]:
p_df.to_csv('../data/AdSmartABdata.csv')

In [28]:
##### create version 7 of the data for platform_os 5
p_df = by_platform.get_group(5).reset_index(drop=True)
print(p_df.shape)
p_df.head()

(428, 9)

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,004c8a83-1c0f-4a4a-ba9e-bc89e8c0c0c1,control,2020-07-10,13,iPhone,5,Mobile Safari,0,0
1,00d22463-2d1f-44de-8d67-11d6c6b96a00,exposed,2020-07-03,1,iPhone,5,Chrome Mobile iOS,0,0
2,00e4f247-b54b-4f95-a000-ec4645d5a692,control,2020-07-03,15,iPhone,5,Mobile Safari,0,0
3,01b04c3a-8107-4b53-8532-122ff003f900,control,2020-07-04,4,iPhone,5,Mobile Safari,0,0
4,0270f4d1-654e-42e9-afec-76963504ef45,control,2020-07-03,15,iPhone,5,Mobile Safari UI/WKWebView,0,0

In [29]:
p_df.to_csv('../data/AdSmartABdata.csv')